Use of this computer system, its network capabilities and capacity, and its technology services, is provided for authorized "{{ organization_name }}" users only. All communications and information transmitted or archived in any computer system belongs to "{{ organization_name }}". System users shall not have any expectation of privacy in any computer-related activities, including but not limited to electronic mail transmissions and files stored on "{{ organization_name }}" computer systems. Computer systems may be monitored by "{{ organization_name }}", at any time for any purpose without notice. Inappropriate and/or unauthorized use of "{{ organization_name }}" systems will be subject to disciplinary action up to and including termination from employment, and/or could be subject to appropriate legal action.
